# Exclude OSX auxiliary files
.DS_Store

# Exclude temporary files
*~
.ipynb_checkpoints
exercises/helpers/__pycache__/

# Exclude worksheet/exercise data outputs
worksheets/data/
worksheets/data/
exercises/phi_base/
exercises/pseudomonas_blastp/B728a_rbbh_NCIMB_11764.crunch

# Exclude personal information about attendees
ParticipantResearchInfo
